html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  font-size: 15px;
  scroll-behavior: smooth;
}
* {
  scroll-behavior: smooth;
  scroll-margin-top: 120px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --black: #000;
}

/* normalization */
img {
    max-width: 100%;
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/* topHeader */

.topHeader {
  width: 100%;
  background-color: #24292e;
}

.topHeader__h1 {
  color: var(--white);
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}

/* left-section */
.main {
    margin: 4rem 9rem 0rem 9rem;
}
.main__contents {
    display: flex;
}
.left {
   
}
.left__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.left__status {
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 2em;
    box-shadow: 0 1px 0 rgba(27,31,35,.04);
    position: relative;
    /* bottom: 0; */
    
    /* z-index: 2; */
    width: 38px;
    height: 38px;
    margin-top: -5rem;
    margin-left: 15rem;
}
.left__icon {
    width: 20px;
    height: 20px;

    margin-top: 0.6rem;
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
    
}

.left__info {
    margin-top: 4.5rem;
}
.left__iconColor {
    color: #6a737d;
}

.left__iconColor1 {
    color: #555555;
}
.left__name {
    color: #24292e;
    font-size: 26px;
    line-height: 30px;
}

.left__gitUser {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

.left__bio {
    line-height: 1.5;
    color: #24292e;
    font-size: 16px;
    margin-top: 1.5rem;
}


.left__achieve {
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.left__achieveSpace {
    margin-left: 0.3rem;
}

.left__achieveInfo {
    display: flex;
}

.left__address {
    display: flex;
    margin-bottom: 0.3rem;
}


.left__point {
    display: flex;
    margin-bottom: 0.3rem;
}

.left__site {
  
    margin-bottom: 0.3rem;
}